{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="content">
            <div class="book">
                <h2><a href="">{{ book.name }}<a/></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
        </div><a href="/books/{{ prev.pub_date|date:"Y-m-d" }}"><{{ prev.pub_date|date:"Y-m-d" }}</a>
    <a href="/books/{{ next.pub_date|date:"Y-m-d" }}">{{ next.pub_date|date:"Y-m-d" }}></a></div>
        </div>
    </div>
{% endblock %}